body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* IMAGEN VISTA HOME */
#imagenHome {
  background-image: url(./image/img-principal1.jpg);
  width: 100%;
  background-color: black;
  border-color: rgb(34, 33, 33);
  border-width: 1px;
}
.jumbotron h3 {
  color: rgb(247, 227, 119);
}
.jumbotron h2 {
  color:  rgb(247, 227, 119);
  font-size: 40px;
  font-style: bold;  
}
.jumbotron p {
  color:  rgb(247, 227, 119);
  font-size: 40px;
  font-style: bold; 
}

/* IMAGEN VISTA CRUCEROS */
#imagenCruceros {
  background-image: url(./image/img-principal2.jpg);
  width: 100%;
  height: 100%;
  background-color: black;
  border-color: rgb(34, 33, 33);
  border-width: 1px;
}



.navbar-brand {
  background-image: url(./image/logo-img.png) ;
  
  width: 105px;
  height: 44px;
}
.img-card-flm {
    height: 200px; 
    width: 100%; 
    display: block;
}

.list-group li {
  font-size: 11px;
 justify-content: center; 
}
.card-header {
  font-size: 20px;
  background-color: rgb(22, 22, 22);
  color:  rgb(247, 227, 119);
  display: block;
  text-justify: auto;
}
#root {
  background-image: url(./image/fondo.jpg);
}

.navbar {
  background-color: black;
}

/*.encabezados {
  display: table-cell;
  vertical-align: middle;
}*/

.encabezados h3 {
  height: 30px;
  font-size: 20px;
  background-color: rgb(22, 22, 22);
  color:  rgb(247, 227, 119);
  display: block;
  text-align: center;
}

.nav-link {
  background-color:  rgb(59, 59, 57);
}
.nav-item {
  background-color: rgb(59, 59, 57);
}